<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Usuario</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .login_img_section {
        background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
          url(https://images.unsplash.com/photo-1650825556125-060e52d40bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
            center center;
        background-size: cover;
      }
    </style>
  </head>
  <body class="h-screen flex">
    <!-- Sección de imagen lateral -->
    <div
      class="hidden lg:flex w-full lg:w-1/2 login_img_section flex-col justify-center items-center space-y-8 px-8"
    >
      <h1 class="text-white font-bold text-3xl text-center">
        Beneficios de los Planes
      </h1>
      <p class="text-white text-lg text-center">
        Elige un plan que se adapte a tus necesidades
      </p>
      <!-- Contenedor de Cards -->
      <div class="flex flex-wrap justify-center gap-6">
        <!-- Plan Standard -->
        <div
          class="relative flex w-[18rem] flex-col rounded-xl bg-gradient-to-tr from-pink-600 to-pink-400 bg-clip-border p-6 text-white shadow-md shadow-pink-500/40"
        >
          <h3 class="text-center text-xl font-semibold">Plan Standard</h3>
          <h1 class="text-center mt-4 text-4xl font-bold">$5</h1>
          <p class="text-center text-sm">/mes</p>
          <ul class="mt-6 space-y-3">
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Acceso básico (Solamente a dos diarios)
            </li>
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Acceso a reportes de los diarios del plan
            </li>
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Soporte limitado
            </li>
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Scrapeo Diario
            </li>
          </ul>
        </div>
        <!-- Plan Premium -->
        <div
          class="relative flex w-[18rem] flex-col rounded-xl bg-gradient-to-tr from-blue-600 to-blue-400 bg-clip-border p-6 text-white shadow-md shadow-blue-500/40"
        >
          <h3 class="text-center text-xl font-semibold">Plan Premium</h3>
          <h1 class="text-center mt-4 text-4xl font-bold">$10</h1>
          <p class="text-center text-sm">/mes</p>
          <ul class="mt-6 space-y-3">
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Acceso total (Todas las noticias)
            </li>
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Acceso a noticias nacionales e internacionales
            </li>
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Actualizaciones diarias
            </li>
            <li class="flex items-center gap-2">
              <span class="w-4 h-4 flex items-center justify-center rounded-full bg-white/20">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.5 12.75l6 6 9-13.5"
                  />
                </svg>
              </span>
              Soporte personalizado 24/7
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Sección de formulario -->
    <div
      class="flex w-full lg:w-1/2 justify-center items-center bg-white space-y-8"
    >
      <div class="w-full px-8 md:px-32 lg:px-24">
        <form
          class="bg-white rounded-md shadow-2xl p-5"
          action="{{ url_for('register') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="flex items-center justify-start space-x-3 mb-5">
            <span class="bg-black rounded-full w-2 h-2"></span>
            <a href="{{ url_for('inicio') }}" class="font-medium text-xl">Inicio</a>
          </div>

          <h1 class="text-gray-800 font-bold text-2xl mb-1">
            Regístrate Ahora
          </h1>
          <p class="text-sm font-normal text-gray-600 mb-8">
            Crea tu cuenta para acceder
          </p>

          <!-- DNI -->
          <div class="mb-6">
            <label for="dni" class="block text-gray-700 font-semibold mb-2">DNI:</label>
            <input id="dni" name="dni" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" placeholder="Ingrese su DNI" maxlength="8" oninput="traerDatos()" required />
          </div>

          <!-- Nombres -->
          <div class="mb-6">
            <label for="nombres" class="block text-gray-700 font-semibold mb-2">Nombres:</label>
            <input id="nombres" name="nombres" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" value="{{ nombres }}" readonly required />
          </div>

          <!-- Apellido Paterno -->
          <div class="mb-6">
            <label for="apellido_paterno" class="block text-gray-700 font-semibold mb-2">Apellido Paterno:</label>
            <input id="apellido_paterno" name="apellido_paterno" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" value="{{ apellido_paterno }}" readonly required />
          </div>

          <!-- Apellido Materno -->
          <div class="mb-6">
            <label for="apellido_materno" class="block text-gray-700 font-semibold mb-2">Apellido Materno:</label>
            <input id="apellido_materno" name="apellido_materno" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" value="{{ apellido_materno }}" readonly required />
          </div>

          <!-- Usuario -->
          <div class="mb-6">
            <label for="username" class="block text-gray-700 font-semibold mb-2">Usuario:</label>
            <input name="username" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" required />
          </div>

          <!-- Contraseña -->
          <div class="mb-6">
            <label for="password" class="block text-gray-700 font-semibold mb-2">Contraseña:</label>
            <input name="password" type="password" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" required />
          </div>

          <!-- Membresía -->
          <div class="mb-6">
            <label for="role_id" class="block text-gray-700 font-semibold mb-2"
              >Membresía:</label
            >
            <select
              name="role_id"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500"
              required
            >
              {% for role in roles %}
              <option value="{{ role[0] }}">{{ role[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Comprobante de pago -->
          <div class="mb-6">
            <label for="payment_proof" class="block text-gray-700 font-semibold mb-2">Comprobante de Pago:</label>
            <input type="file" name="payment_proof" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-500" accept=".png, .jpg, .jpeg, .gif" required />
          </div>

          <button type="submit" class="w-full bg-indigo-600 mt-5 py-2 rounded-2xl text-white font-semibold mb-2">Registrar</button>
        </form>
      </div>
    </div>

    <script>
      function traerDatos() {
        let dni = document.getElementById("dni").value;
        fetch("https://apiperu.dev/api/dni/" + dni + "?api_token=9387e2c01ca687dd819d169a4e6b2e2f1c6d1572f04496738ef8b4a1fe21af88")
          .then((response) => response.json())
          .then((datos) => {
            if (datos.success) {
              document.getElementById("nombres").value = datos.data.nombres;
              document.getElementById("apellido_paterno").value = datos.data.apellido_paterno;
              document.getElementById("apellido_materno").value = datos.data.apellido_materno;
            } else {
              alert("DNI no válido o no encontrado.");
            }
          });
      }
    </script>
  </body>
</html>
